*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


#header{
    width: 100%;
    /* position: fixed; */
    top: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#header .logo img{
    
    height: 4rem;
    margin-bottom: 2rem;
    
    
}


header{
    background:greenyellow;
    width:20%;
    color: blue;
}

.row{
    padding-top: 5%;
    padding-left: 2%;
    
    height: 50%;
    /* text-align: justify; */
    
}
.row  p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}